body {
    background-image: linear-gradient
    180deg
    #FF8C00 5%,
    #FFFF00 20%,
    #000000 60%,
    #0000FF 95%,
};
}
{
margin: 0;
min-height: 100vh;
width: 100%;
};
}

main {
align-items: center;;
display: flex;
height: 100vh;
justify-content: center;
position: relative;
};

main > section img {
height: 380px;
margin: 15px 0;
width: 485px;
}

main > section button
background-color: #800000;
boder-name;
boder-radius 4px;
font-family: EuclidBold;
font-size: 15px; 
font-weight: 500;
letter-spancing: -0.6px;
line-height: 15px;
text-transform: uppercase;
padding- 9px 23px ;
}

#detalhes-container `{
font-weight: bold;
list-style-type: nome;
width: 90%;
}
};